/* Header */

.header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.header__group {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.header__link {
    color: #ffffff;
    font-weight: 700;
}

.header__cta {
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    background: #56CCF2;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


@media (max-width: 640px) {
    .header {
        padding: 16px 0;
    }

    .header__group {
        grid-template-columns: repeat(4, auto);
    }

    .header__link:nth-child(4) {
        display: none;
    }
}